.left_td.collapsed #leftNav{
    display: none;
}
fieldset label{
    min-width:200px;
    display:block;
    float:left
}
fieldset{
    padding:15px;
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    -moz-border-radius:5px;
    background-color:#f9f9f9
}
.databaseList select{
    max-width:200px
}

.confirm{
    border-color:#03F;
    border-width:1px;
    border-style:dashed;
    padding:15px;
    background-color:#e0ebf6
}
.tab{
    display:block;
    padding:5px;
    padding-right:8px;
    padding-left:8px;
    border-color:#999;
    border-width:1px;
    border-style:solid;
    margin-right:5px;
    float:left;
    border-bottom-style:none;
    position:relative;
    top:1px;
    padding-bottom:4px;
    background-color:#eaeaea;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px
}
.tab_pressed{
    display:block;
    padding:5px;
    padding-right:8px;
    padding-left:8px;
    border-color:#666;
    border-width:1px;
    border-style:solid;
    margin-right:5px;
    float:left;
    border-bottom-style:none;
    position:relative;
    top:1px;
    background-color:#FFF;
    cursor:default;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px
}
.helpq{
    font-size:11px;
    font-weight:normal
}
#help_container{
    padding:0px;
    font-size:12px;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff
}
.help_outer{
    background-color:#FFF;
    padding:0px;
    height:300px;
    position:relative
}
.help_list{
    padding:10px;
    height:auto
}
.headd{
    font-size:14px;
    font-weight:bold;
    display:block;
    padding:10px;
    background-color:#e0ebf6;
    border-color:#03F;
    border-width:1px;
    border-style:solid;
    border-left-style:none;
    border-right-style:none
}
.help_inner{
    padding:10px
}
.help_top{
    display:block;
    position:absolute;
    right:10px;
    bottom:10px
}
.warning,.delete,.empty,.drop,.delete_db{
    color:red
}
.sidebar_table{
    font-size:11px
}
.active_table,.active_db{
    text-decoration:underline
}
.null{
    color:#888
}
.found{
    background:#FF0;
    text-decoration:none
}

.body_tbl {
    display: flex;
    width: 100%;
}
.left_td {
    position: relative;
    background-color: white;
    padding: 10px;
    margin-right: 20px;
    width: 30%;
}
.left_td.collapsed {
    width: auto;
}
.left_td > .dashicons-admin-collapse {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.left_td.collapsed > .dashicons-admin-collapse {
    right: 0;
    transform: rotate(180deg);
}
.left_td fieldset {
    margin: 15px 0;
}
.right_td {
    width: 70%;
    /*overflow: auto;*/
}
.left_td.collapsed + .right_td {
    width: calc(100% - 40px);
}
#wpfooter {
    position: static;
}
#sqlite-main {
    background-color: white;
    border: 1px solid;
    padding: 10px;
    max-width: 100%;
    width: auto;
}
.widefat td, .widefat th {
    max-width: 400px;
}
.table-wrapper {
    width: 100%;
    overflow: auto;
}
.table-wrapper > table {
    width: 100%;
}

table textarea {
    max-width: 100%;
}

.pla-collapse {
  text-align: right;
  display: block;
  text-decoration: none;
  color: inherit;
}
.pla-collapsed .pla-collapse {
    height: 100%;
}
.pla-collapsed .pla-collapse span {
    transform: rotate(180deg);
}
.pla-collapsed .left_td {
  width: 20px;
  overflow: hidden;
}
.pla-collapsed .left_td #leftNav {
    display: none;
}
.pla-collapsed .right_td {
  width: calc(100% - 60px);
}